.App {
  text-align: center;
}

.App-logo {
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.star-ratings {
  margin-top: 3em;
}

.sitter-details {
  display: inline;
}

.sitter-actions {
  cursor: pointer;
  height: 50px;
}

.action-icon {
  max-width: 100%;
  max-height: 100%;
}

.selected {
  background-color: #99bb99;
}
